trunk/THClient/wsdl/ThumbnailServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions targetNamespace="http://shaman.liv.ac.uk/" name="ThumbnailServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://shaman.liv.ac.uk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://shaman.liv.ac.uk/" schemaLocation="ThumbnailServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="resolve">
    <part name="parameters" element="tns:resolve"/>
  </message>
  <message name="resolveResponse">
    <part name="parameters" element="tns:resolveResponse"/>
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException"/>
  </message>
  <message name="generateThumbnailFromData">
    <part name="parameters" element="tns:generateThumbnailFromData"/>
  </message>
  <message name="generateThumbnailFromDataResponse">
    <part name="parameters" element="tns:generateThumbnailFromDataResponse"/>
  </message>
  <message name="MalformedURLException">
    <part name="fault" element="tns:MalformedURLException"/>
  </message>
  <message name="generateSVGThumbnailFromData">
    <part name="parameters" element="tns:generateSVGThumbnailFromData"/>
  </message>
  <message name="generateSVGThumbnailFromDataResponse">
    <part name="parameters" element="tns:generateSVGThumbnailFromDataResponse"/>
  </message>
  <message name="extractFontInformationFromData">
    <part name="parameters" element="tns:extractFontInformationFromData"/>
  </message>
  <message name="extractFontInformationFromDataResponse">
    <part name="parameters" element="tns:extractFontInformationFromDataResponse"/>
  </message>
  <message name="extractXmlTextFromData">
    <part name="parameters" element="tns:extractXmlTextFromData"/>
  </message>
  <message name="extractXmlTextFromDataResponse">
    <part name="parameters" element="tns:extractXmlTextFromDataResponse"/>
  </message>
  <message name="generateThumbnail">
    <part name="parameters" element="tns:generateThumbnail"/>
  </message>
  <message name="generateThumbnailResponse">
    <part name="parameters" element="tns:generateThumbnailResponse"/>
  </message>
  <message name="generateSVGThumbnail">
    <part name="parameters" element="tns:generateSVGThumbnail"/>
  </message>
  <message name="generateSVGThumbnailResponse">
    <part name="parameters" element="tns:generateSVGThumbnailResponse"/>
  </message>
  <message name="extractFontInformation">
    <part name="parameters" element="tns:extractFontInformation"/>
  </message>
  <message name="extractFontInformationResponse">
    <part name="parameters" element="tns:extractFontInformationResponse"/>
  </message>
  <message name="extractXmlText">
    <part name="parameters" element="tns:extractXmlText"/>
  </message>
  <message name="extractXmlTextResponse">
    <part name="parameters" element="tns:extractXmlTextResponse"/>
  </message>
  <message name="getSupportedMimeTypes">
    <part name="parameters" element="tns:getSupportedMimeTypes"/>
  </message>
  <message name="getSupportedMimeTypesResponse">
    <part name="parameters" element="tns:getSupportedMimeTypesResponse"/>
  </message>
  <message name="getSupportedOutputType">
    <part name="parameters" element="tns:getSupportedOutputType"/>
  </message>
  <message name="getSupportedOutputTypeResponse">
    <part name="parameters" element="tns:getSupportedOutputTypeResponse"/>
  </message>
  <portType name="ThumbnailService">
    <operation name="resolve">
      <input message="tns:resolve"/>
      <output message="tns:resolveResponse"/>
      <fault message="tns:IOException" name="IOException"/>
    </operation>
    <operation name="generateThumbnailFromData">
      <input message="tns:generateThumbnailFromData"/>
      <output message="tns:generateThumbnailFromDataResponse"/>
      <fault message="tns:MalformedURLException" name="MalformedURLException"/>
      <fault message="tns:IOException" name="IOException"/>
    </operation>
    <operation name="generateSVGThumbnailFromData">
      <input message="tns:generateSVGThumbnailFromData"/>
      <output message="tns:generateSVGThumbnailFromDataResponse"/>
      <fault message="tns:MalformedURLException" name="MalformedURLException"/>
      <fault message="tns:IOException" name="IOException"/>
    </operation>
    <operation name="extractFontInformationFromData">
      <input message="tns:extractFontInformationFromData"/>
      <output message="tns:extractFontInformationFromDataResponse"/>
      <fault message="tns:MalformedURLException" name="MalformedURLException"/>
      <fault message="tns:IOException" name="IOException"/>
    </operation>
    <operation name="extractXmlTextFromData">
      <input message="tns:extractXmlTextFromData"/>
      <output message="tns:extractXmlTextFromDataResponse"/>
      <fault message="tns:MalformedURLException" name="MalformedURLException"/>
      <fault message="tns:IOException" name="IOException"/>
    </operation>
    <operation name="generateThumbnail">
      <input message="tns:generateThumbnail"/>
      <output message="tns:generateThumbnailResponse"/>
      <fault message="tns:MalformedURLException" name="MalformedURLException"/>
      <fault message="tns:IOException" name="IOException"/>
    </operation>
    <operation name="generateSVGThumbnail">
      <input message="tns:generateSVGThumbnail"/>
      <output message="tns:generateSVGThumbnailResponse"/>
      <fault message="tns:MalformedURLException" name="MalformedURLException"/>
      <fault message="tns:IOException" name="IOException"/>
    </operation>
    <operation name="extractFontInformation">
      <input message="tns:extractFontInformation"/>
      <output message="tns:extractFontInformationResponse"/>
      <fault message="tns:MalformedURLException" name="MalformedURLException"/>
      <fault message="tns:IOException" name="IOException"/>
    </operation>
    <operation name="extractXmlText">
      <input message="tns:extractXmlText"/>
      <output message="tns:extractXmlTextResponse"/>
      <fault message="tns:MalformedURLException" name="MalformedURLException"/>
      <fault message="tns:IOException" name="IOException"/>
    </operation>
    <operation name="getSupportedMimeTypes">
      <input message="tns:getSupportedMimeTypes"/>
      <output message="tns:getSupportedMimeTypesResponse"/>
    </operation>
    <operation name="getSupportedOutputType">
      <input message="tns:getSupportedOutputType"/>
      <output message="tns:getSupportedOutputTypeResponse"/>
    </operation>
  </portType>
  <binding name="ThumbnailServicePortBinding" type="tns:ThumbnailService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="resolve">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
    </operation>
    <operation name="generateThumbnailFromData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MalformedURLException">
        <soap:fault name="MalformedURLException" use="literal"/>
      </fault>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
    </operation>
    <operation name="generateSVGThumbnailFromData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MalformedURLException">
        <soap:fault name="MalformedURLException" use="literal"/>
      </fault>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
    </operation>
    <operation name="extractFontInformationFromData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MalformedURLException">
        <soap:fault name="MalformedURLException" use="literal"/>
      </fault>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
    </operation>
    <operation name="extractXmlTextFromData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MalformedURLException">
        <soap:fault name="MalformedURLException" use="literal"/>
      </fault>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
    </operation>
    <operation name="generateThumbnail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MalformedURLException">
        <soap:fault name="MalformedURLException" use="literal"/>
      </fault>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
    </operation>
    <operation name="generateSVGThumbnail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MalformedURLException">
        <soap:fault name="MalformedURLException" use="literal"/>
      </fault>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
    </operation>
    <operation name="extractFontInformation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MalformedURLException">
        <soap:fault name="MalformedURLException" use="literal"/>
      </fault>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
    </operation>
    <operation name="extractXmlText">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MalformedURLException">
        <soap:fault name="MalformedURLException" use="literal"/>
      </fault>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSupportedMimeTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSupportedOutputType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ThumbnailServiceService">
    <port name="ThumbnailServicePort" binding="tns:ThumbnailServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

